/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/

/******************************************/
/* Element Selectors */
/******************************************/

/******************************************/
/* Class Selectors */
/******************************************/
.table tbody tr td:first-child {
  font-weight: bold;
}

.table-bordered tbody tr td,
.table-bordered thead tr th {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.save {
  margin-left: 3px;
}

/******************************************/
/* ID Selectors */
/******************************************/

/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
